<h1>Welcome to: Tus Libros e-commerce web app</h1>

<section class="loginform cf">
  <form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <ul>
      <li><label for="usermail">User</label>
        <input type="email" name="usermail" placeholder="yourusername" required></li>
      <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="yourpassword" required></li>
      <li>
        <input type="submit" value="Login"></li>
    </ul>
  </form>
</section>