<title>This is a Cart: <%= cart.id %></title>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Cantidad</th>
  </tr>
  </thead>
  <tbody>
  <% cart.cart_book_items.each do | item | %>
      <tr>
        <td><%= item.book_id %></td>
        <td><%= item.amount_of_books %></td>
      </tr>
  <% end %>
  </tbody>
</table>

