<h3 class='modal-header'>CATALOGO</h3>
<toast></toast>
<table class="table">
    <thead>
    <tr>
        <th>Titulo</th>
        <th>Isbn</th>
        <th>Precio</th>
        <th>Accion</th>
    </tr>
    <tbody>
    <tr ng-repeat="book in catalog">
        <td>{{book.title}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.price}}</td>
        <td><input required type="number" min="1" max=100000 ng-model="amount"/>
            <button ng-disabled="amount === undefined" ng-click="addBook(book,amount)">Agregar</button>
        </td>
    </tr>

    </tbody>
</table>


<h3 class='modal-header'>Items del carrito</h3>

<custom-table content="cart.items" columns="['TITULO','ISBN','CANTIDAD','PRECIO']"
              operations="['title','isbn','amount_of_books','price']"></custom-table>

<a role="button" href="#/purchase">
    <button ng-disabled="cart.items.length === 0" class="btn bg-primary">Comprar</button>
</a>

